<% @title = "Izzicup - Parts" %>
<h1>Parts Table</h1>
<h2><%= link_to "To Index", root_path %></h2>

<%== pagy_nav(@pagy) %>
<%== pagy_items_selector_js(@pagy, :submit)  %>
<%= simple_form_for :search_bar, url: parts_path, method: "GET" do |f| %>
  <%= f.input :search_term, input_html: {value: ""} %>
  <%= f.submit "Search" %>
<% end %>

<div class="table-div">
  <table>
    <thead>
    <tr>
      <td>Link to Part</td>
      <td>Part Number</td>
      <td>Date Added</td>
      <td>Description</td>
      <td>Quantity Available</td>
      <td>Quantity Reserved</td>
      <td>Quantity Sold</td>
      <td>Condition</td>
      <td>Cost ($)</td>
      <td>Base Price ($)</td>
      <td>Minimum Order</td>
      <td>Order Discount</td>
      <td>Max Order Discount</td>
      <td>Lead Time</td>
      <td>Quote Type</td>
      <td>Tag</td>
      <td>Last Updated</td>
    </tr>
    </thead>
    <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= link_to "Link", part_path(part) %> | <%= link_to "Edit Part", edit_part_path(part) %></td>
        <td style="text-align: center"><%= part.part_number %></td>
        <td style="text-align: center"><%= part.date_added.strftime('%d/%m/%Y') %></td>
        <td><%= part.description %></td>
        <td style="text-align: center"><%= part.quantity_available %></td>
        <td style="text-align: center"><%= part.quantity_reserved%></td>
        <td style="text-align: center"><%= part.quantity_sold%></td>
        <td style="text-align: center"><%= part.condition%></td>
        <td style="text-align: center"><%= '%.2f' % part.cost %></td>
        <td style="text-align: center"><%= '%.2f' % part.base_price %></td>
        <td style="text-align: center"><%= part.minimum_order %></td>
        <td style="text-align: center"><%= part.medium_order%></td>
        <td style="text-align: center"><%= part.max_order%></td>
        <td style="text-align: center"><%= part.lead_time %></td>
        <td><%= part.quote_type %></td>
        <td><%= part.tag.upcase %></td>
        <td><%= part.updated_at.strftime('%d/%m/%Y %H:%M') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>