<h1><%= @part.description %></h1>
<h2><%= link_to "Go Back", :back %></h2>
<h2><%= link_to "Parts Page", parts_path %></h2>

<div class="table-div">
  <table>
    <thead>
      <tr>
        <td>Edit</td>
        <td>Part Number</td>
        <td>Date Added</td>
        <td>Description</td>
        <td>Quantity Available</td>
        <td>Quantity Reserved</td>
        <td>Quantity Sold</td>
        <td>Condition</td>
        <td>Cost ($)</td>
        <td>Base Price ($)</td>
        <td>Minimum Order</td>
        <td>Order Discount</td>
        <td>Max Order Discount</td>
        <td>Lead Time</td>
        <td>Quote Type</td>
        <td>Tag</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "Edit", edit_part_path %></td>
        <td style="text-align: center"><%= @part.part_number %></td>
        <td style="text-align: center"><%= @part.date_added.strftime('%d/%m/%Y') %></td>
        <td><%= @part.description %></td>
        <td style="text-align: center"><%= @part.quantity_available %></td>
        <td style="text-align: center"><%= @part.quantity_reserved || "" if @part.quantity_reserved.nil? %></td>
        <td style="text-align: center"><%= @part.quantity_sold || "" if @part.quantity_sold.nil? %></td>
        <td style="text-align: center"><%= @part.condition %></td>
        <td style="text-align: center"><%= '%.2f' % @part.cost  %></td>
        <td style="text-align: center"><%= '%.2f' % @part.base_price  %></td>
        <td style="text-align: center"><%= @part.minimum_order %></td>
        <td style="text-align: center"><%= @part.medium_order || "" if @part.medium_order.nil? %></td>
        <td style="text-align: center"><%= @part.max_order || "" if @part.max_order.nil? %></td>
        <td style="text-align: center"><%= @part.lead_time || "" if @part.lead_time.nil? %></td>
        <td><%= @part.quote_type %></td>
        <td><%= @part.tag.upcase %></td>
      </tr>
    </tbody>
  </table>
</div>